/* 10 points */
.green-text {
    /* color: rgb(0, 128, 0); */
    color: rgba(0, 128, 0, 0.5);
}

/* 1 point */
h1 {
    color: #ff0000;
}

/* 100 points */
#width-300 {
    width: 300px;
}

.border-blue {
    /* border: 1px solid hsl(240, 100%, 50%); */
    border: 1px solid hsl(240, 100%, 50%, 50%);
}

/* Assignment styles */
h1 {
    color: blue;
}

.profile-picture {
    width: 300px;
}

.list-item {
    font-size: 24px;
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
    background-color: yellow;
    margin: 10px;
}
/* End Assignment styles */